[submodule "spring-boot-app-server"]
	path = spring-boot-app-server
	url = git@github.com:lcalmsky/spring-boot-app-server.git
[submodule "react-web"]
	path = react-web
	url = git@github.com:lcalmsky/react-web.git
